[Unit]
Description=Honeypot Service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/honeypot-project/honeypot
ExecStart=/home/pi/honeypot-project/venv/bin/python main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target